$button-background: green;
$button-padding: 1em 1.5em;

.hello-world-button {
  font-size: 24px;
  padding: $button-padding;
  background-color: $button-background;
  border: 2px solid blue;
  cursor: pointer;
}

.hello-world-text {
  color: green;
}
